# Only packages here that are not available on conda(-forge).

# Django itself plus addons.
channels-redis==3.4.*

# Additional dependencies required for the emp_evaluation_system. Note that
# django-multiselectfield is apparently not maintained any more.
#django-nested-admin==3.4.* #enables nested admin forms in djangos admin
#django-multiselectfield==0.1.* #Includes Multiselect (multiple radio buttons) for djangos admin page

# Database engines
django-timescaledb==0.2.11

# For exposing Prometheus metrics
django-prometheus==2.2.*
