{% comment %}
This is the generic code for a detail page (a modal in bootstrap) that
serves as container that can be poped over the main EMP to provide
detailed information.
{% endcomment %}
<div class="modal fade" id="{{detail.html_id}}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          {% block detail_title %}
          {% endblock detail_title %}
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {% block detail_body %}
        {% endblock detail_body %}
      </div>

    </div>
  </div>
</div>
