{% load static %}
{% load datapoint_helpers %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{PAGE_TITLE}}</title>

  <!-- Allows "installing" the EMP on mobile devies like an app. -->
  <link rel="manifest" href={{MANIFEST_JSON_STATIC}}>

  <link rel="shortcut icon"
        type="image/x-icon"
        href={{FAVICON_ICO_STATIC}}>

  <link rel="stylesheet" href="{% static "emp-main/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "emp-main/css/emp_main.css" %}">

  <script src="{% static "emp-main/js/jquery.min.js" %}"></script>
  <script src="{% static "emp-main/js/popper.min.js" %}"></script>
  <script src="{% static "emp-main/js/bootstrap.min.js" %}"></script>

  {% comment %}
    Anything that must append head goes here, e.g. additional JS/CSS.
  {% endcomment %}
  {% block head %}
  {% endblock head %}

</head>
<body>
  <nav class="navbar navbar-dark bg-dark emp-top-navbar">
    <div id="title-logo-container">
      <img id="title-logo" src={{TOPBAR_LOGO_STATIC}} alt="FZI" height="100%">
    </div>
    <a class="navbar-brand only-sm" href="/">{{TOPBAR_NAME_SHORT}} </a>
    <a class="navbar-brand only-lg mx-auto" href="/">{{TOPBAR_NAME_LONG}}</a>
    <span class="navbar-brand only-lg current-time">--:--:--</span>
    <button class="navbar-toggler" type="button" id="toggle-sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <nav class="bg-light hidden emp-side-navbar">
    <ul class="nav flex-column">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <div class="nav-link">
            {% if user.first_name %}
              Welcome {{user.first_name}}!
            {% else %}
              Welcome {{user.username|title}}!
            {% endif %}
          </div>
        </li>

        <div><hr class="nav-link-separator"></div>

        <li class="nav-item">
          <a class="nav-link nav-link-no-icon" href="{{LOGOUT_PAGE_URL}}">
            Logout
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link nav-link-no-icon" href="{{LOGIN_PAGE_URL}}">
            Login
          </a>
        </li>
      {% endif %}

      <div><hr class="nav-link-separator"></div>
      <div><hr class="nav-link-separator"></div>

      {% for app_nav_name, app_nav_content in emp_apps_nav_content.items %}
        {% if app_nav_content.app_nav_pages %}
          <li class="nav-item">
            <a class="nav-link collapsed"
               href=#{{app_nav_content.app_nav_id}}
               data-toggle="collapse">
              <img class="nav-link-icon"
                   src="{% static "emp-main/icons/submenu.svg" %}"
              >{{app_nav_name}}
            </a>
          </li>
          <ul class="nav flex-column collapse emp-side-subnav"
              id={{app_nav_content.app_nav_id}}
          >

            {% for page_name, page_url in app_nav_content.app_nav_pages.items %}
                <div><hr class="nav-link-separator"></div>

                <li class="nav-item">
                  <a class="nav-link"
                     href={{page_url}}
                  >{{page_name}}
                  </a>
                </li>
              {% endfor %}
            </ul>

          <div><hr class="nav-link-separator"></div>
        {% endif %}
      {% endfor %}
      </ul>
  </nav>
  <main class="emp-content-container p-3">
      {% comment %}
        Page content goes in this block.
      {% endcomment %}
      {% block body_html %}
      {% endblock body_html %}
  </main>

  {% comment %}
    All templates for detail pages (e.g. base_detail.html) should be placed
    in this block, as details are implemented as bootstrap modals that must
    be plaecd directly under the root of the DOM tree.
  {% endcomment %}
  {% block body_details %}
  {% endblock body_details %}

  <script type="text/javascript">
    // auto refresh if inactive for 15 min
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress touchmove", function (e) {
      time = new Date().getTime();
    });

    function refresh() {
      if (new Date().getTime() - time >= 900000) {
        window.location.reload(true);
      } else {
        setTimeout(refresh, 60000);
      };
    };
    setTimeout(refresh, 60000);

    // Update current time displays
    function update_time(){
      let ct_elements = document.getElementsByClassName("current-time");
      let d = new Date();
      let d_hou = `0${d.getHours()}`.slice(-2);
      let d_min = `0${d.getMinutes()}`.slice(-2);
      let d_sec = `0${d.getSeconds()}`.slice(-2);
      for (let ct_element of ct_elements){
        ct_element.innerHTML = `${d_hou}:${d_min}:${d_sec}`;
      };
      setTimeout(update_time, 200);
    }
    update_time();

    // Toggles display of sidebar in small mode.
    $('#toggle-sidebar').on('click', function (e) {
      var sidebar = $('.emp-side-navbar')[0];
      sidebar.classList.toggle('hidden');
    })

    // Stores the href ids of the navbar buttons that can collapse
    // submenus. These ids are unique and allow us to restore the
    // menu state after navigating to the next page.
    window.addEventListener("beforeunload", function(){
      let shown_submenus = [];
      let shown_submenu_nav_links = document.querySelectorAll(
        '.nav-link[data-toggle="collapse"]:not(.collapsed)'
      );
      for (let nl of shown_submenu_nav_links){
        shown_submenus.push(nl.attributes.href.value);
      };
      // Session storage can only store strings.
      shown_submenus = JSON.stringify(shown_submenus);
      sessionStorage.setItem("shown_submenus", shown_submenus);
    });

    // Restore the opened submenus on page load by clicking on the button
    // which should expand the collapsed submenu.
    function restore_subnavs() {
      let shown_submenus = sessionStorage.getItem("shown_submenus") || "[]";
      shown_submenus = JSON.parse(shown_submenus);
      for (let sm_href_id of shown_submenus){
        let nl = document.querySelector(`.nav-link[href="${sm_href_id}"]`);
        nl.classList.remove("collapsed");
        let nc = document.querySelector(`.nav.collapse${sm_href_id}`);
        nc.classList.add("show");
      };
    };
    restore_subnavs();

    // Mark current page active in nav
    function mark_current_page_active() {
      let current_nav_link = document.querySelector(
        `.nav-link[href="${window.location.pathname}"]`
      );
      if (current_nav_link != null) {
        current_nav_link.classList.add("active");
      };
    };
    mark_current_page_active();

    {% if field_collector %}
    // Add automatic updates of datapoint values if field_collector is populated.
      // This creates a list of datapoint ids used on this page.
      var requested_datapoints = "[{{field_collector.keys | join:","}}]"
      // This creates a mapping of of datapoint ids to class labels on this page.
      var datapoint_update_map = JSON.parse("{% dp_update_map field_collector %}")
      // Connect to the websocket to get datapoint field updates.
      var ws = new WebSocket(
        "ws://" + window.location.host + "/ws/datapoint-update/?datapoint-ids=" +
        requested_datapoints
      );
      ws.onmessage = function (msg) {
        let datapoint = JSON.parse(msg.data);
        // console.log(datapoint);
        // Get all class labels used for this datapoint and iterate over them.
        class_labels = datapoint_update_map[datapoint.id];
        for ( let class_label of class_labels ){
          let field_name = class_label.split("__").slice(1).join("__");
          let field_value = datapoint[field_name];
          // Get the elements in DOM using that class name and update them.
          let elements = document.getElementsByClassName(class_label);
          for ( let element of elements ) {
              element.innerText = field_value;
            };
          };
        };
    {% endif %}

  </script>

  {% comment %}
    Any addition scripting goes here, like e.g. wireing up stuff to do on data
    updates.
  {% endcomment %}
  {% block body_script %}
  {% endblock body_script %}

</body>
</html>
