<!-- All generic content like nav/title bar is provided by the base template -->
{% extends "emp_main/base.html" %}
{% load static %}
{% load datapoint_helpers %}

{% block head %}
  <!-- Load additional css files here, or whatever is needed in the header -->
  <link rel="stylesheet" href="{% static 'emp-demo-ui-app/css/page.css' %}">
{% endblock head %}

{% block body_html %}
  <!-- Place HTML content here, you can use Bootstrap's grid system for -->
  <!-- faster content generation. The following also also uses page  -->
  <!-- specific variables loaded from database. -->
  <div class="container h-100" style="background-color: {{page_background_color}}">
    <div class="d-flex flex-column justify-content-center h-100">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <!-- This uses a style from the css file loaded above. -->
          <p class="demo-app-text-center">
            {{page_content}}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        {% if demo_datapoint %}
          <div class="col-md-8 col-lg-6">
            <p class="demo-app-text-center">
            last_value of demo datapoint is:
            {% dp_field_value demo_datapoint "last_value_message.value" field_collector %}
            {% dp_field_value demo_datapoint "unit" field_collector %}
            {% if detail %}
              <button type="button"
                      class="btn btn-primary ms-2"
                      data-bs-target="#{{detail.html_id}}"
                      data-bs-toggle="modal"
              >
                Info
              </button>
            {% endif %}
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body_html %}

{% block body_details %}
  {% if detail %}
    {% include "emp_demo_ui_app/demo_detail.html" with detail=detail %}
  {% endif %}
{% endblock body_details %}

{% block body_script %}
  <!-- Place additional JS scripting here. -->
{% endblock body_script %}
