{% extends "emp_locations/widgets/base.html" %}

{% block widget-title %}
    Occupancy
{% endblock %}

{% block widget-content %}
    <div class="card-body" style="padding: 0; margin: -10px;">
        <div class="fc-event m-2 p-1"> 10:00-12:00: woelfle@fzi.de <br> Project Meeting</div>
        <div class="fc-event m-2 p-1"> 13:00-14:00: woelfle@fzi.de <br> Conference Call </div>
        <div class="fc-event m-2 p-1"> 16:00-17:00: woelfle@fzi.de <br> Stundent Exchange </div>
    </div>
    <script type="text/javascript">
    </script>
{% endblock %}
